.card_wrapper {
    transition: all 0.5s ease-in-out;
    box-shadow: #9494946e 0px 1px 6px;
}
.card_wrapper:hover {
    box-shadow: #f344146e 0px 3px 20px;
    overflow: hidden;
    border-radius: .66rem;
    transition: all 0.5s ease-in-out;
}

.event_Head_title {
    font-family: 'Abril Fatface', serif;
    color: #FF8F50;
    font-weight: bold;
}
.eventImg_container{
    width: 25rem;
    height: 12rem;
    overflow: hidden;
    border-radius: .66rem;
    transition: all 0.5s ease-in-out;
}
.eventImg_container .event_img {
    width: 25rem;
    height: 12rem;
    border-radius: .66rem;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.card_wrapper:hover .event_img {
    transform: scale(1.1);
}

/* paginations css styles */
.pagination{
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}
.pagination ul li{
    list-style: none !important;
    list-style-type: none;
}
.pagination .page-num{
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 1rem;
    list-style: none !important;
    list-style-type: none;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.pagination .page-num:hover{
    background-color: #5141E0;
    color: #fff;
    font-weight: 600;
}
.pagination .active{
    background-color: #5141E0;
    color: #fff;
}
.web_w_100{
    width: 50%;
}

@media (max-width: 468px) {
    .mbl_w_100{
        width: 100% !important
    }
}

@media (max-width: 320px) {
    .mbl_w_100{
        width: 100% !important
    }
}