.Single_card_wrapper {
    transition: all 0.5s ease-in-out;
    box-shadow: #9494946e 0px 1px 6px;
}
.Single_card_wrapper:hover {
    box-shadow: #f344146e 0px 3px 20px;
    overflow: hidden;
    border-radius: .66rem;
    transition: all 0.5s ease-in-out;
}

.event_Head_title {
    font-family: 'Abril Fatface', serif;
    color: #FF8F50;
    font-weight: bold;
}
.SingleEventImg_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .66rem;
    transition: all 0.5s ease-in-out;
}
.SingleEventImg_container .SingleEvent_img {
    width: 100%;
    height: 100%;
    border-radius: .66rem;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.Single_card_wrapper:hover .SingleEvent_img {
    transform: scale(1.1);
}